@page "/movie/{id}"
@using AdrianTube2.Services
@using AdrianTube2.Models.Movie
@using AdrianTube2.Models.UserModels
@using AdrianTube2.state
@inject NavigationManager NavigationManager
@inject MovieService MovieService
@inject IToastService ToastService
@inject CommentService CommentService
@inject MovieState MovieState
@inject CommentState CommentState
@implements IDisposable

<PageTitle>
    @if (IsLoading) {
        <span>Loading...</span>
    } else if (Movie == null) {
        <span>Movie not found</span>
    } else {
        @Movie.Title
    }
</PageTitle>

<AuthorizeView>
    @if (Movie != null && IsLoading == false)
    {
        <video style="max-height: 80vh;" controls="controls" autoplay="autoplay" width="100%">
            <source src="@Movie?.VideoUrl" type="video/mp4" />
            Your browser does not support the video tag.
        </video>

        <MovieDetails Movie="@Movie" />
        <hr />
        <section class="mt-2">
            <CommentInput Movie="@Movie" User="@User" />
        </section>
        
        <h2 class="mt-2 mb-2">Comments</h2>
        <hr />
        @if (IsCommentsLoading == true)
        {
            <div class="d-flex justify-content-center">
                <Loader ClassName="loader-big" />
            </div>
        }
        else
        {
            <CommentsSection Comments="@CommentState.Comments" User="@User" />
        }
    } 

    @if (IsLoading == true)
    {
        <div class="d-flex justify-content-center">
            <Loader ClassName="loader-big" />
        </div>
    }

    @if (IsLoading == false && Movie == null)
    {
        <div class="d-flex justify-content-center gap-2">
            <h1>Movie not found</h1>
            <button class="btn btn-primary" @onclick="GoBack">Go back</button>
        </div>
    }
</AuthorizeView>

@code {
    Movie? Movie;
    [Parameter]
    public string? id { get; set; }
    bool IsLoading { get; set; } = true;
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    User User { get; set; }
    List<Comment> Comments { get; set; } = new List<Comment>();
    bool IsCommentsLoading { get; set; } = true;

    void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }

    async Task HandleMovie() {
        if (id != null && MongoDB.Bson.ObjectId.TryParse(id, out _)) {
            Movie = await MovieService.GetMovieById(id);
            await MovieService.AddView(id);
        } else {
            ToastService.ShowError("Movie not found (invalid id)");
        }
    }

    async Task HandleUser() {
        if (authenticationState != null) {
            var authState = await authenticationState;
            User = new User(authState);
        }
    }

    async Task HandleComment() {
        if (id != null && MongoDB.Bson.ObjectId.TryParse(id, out _)) {
            try {
                Comments = await CommentService.GetComments(new MongoDB.Bson.ObjectId(id));
                CommentState.Comments = Comments;
            } catch (Exception) {
                ToastService.ShowError("Problem with loading comments");
            }
            finally {
                IsCommentsLoading = false;
            }
        }   
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CommentState.OnChange += StateHasChanged;
    }

    void IDisposable.Dispose()
    {
        CommentState.OnChange -= StateHasChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
            
            IsLoading = true; 
            await HandleUser();
            await HandleMovie();
            await HandleComment();
        }
        catch (Exception)
        {
            ToastService.ShowError("Problem with loading movie");
        }
        finally
        {
            IsLoading = false;
        }
    }
}