@page "/subs/{id}"

@inject IUserService UserService
@inject IToastService ToastService
@inject IMovieService MovieService
@inject ISubscriptionService SubscriptionService
@inject ISubscriptionState SubscriptionState

<PageTitle>
    @if (IsLoading) {
        <Loader />
    } else if (User != null) {
        @User.Username
    } else {
        <span>User not found.</span>
    }
</PageTitle>

<section>
    @if (IsLoading) {
        <div class="w-100 d-flex justify-content-center">
            <Loader ClassName="loader-big" />
        </div>
    } 

    @if (User == null && !IsLoading) {
        <p>User not found.</p>
    }

    @if (User != null && !IsLoading) {
        <AuthorizeView>
            <Authorized>
                <div class="container">
                    <div class="d-flex align-items-center gap-3 position-relative" style="font-size: 24px;">
                        @if (string.IsNullOrEmpty(User.CoverPicture) == false) {
                            <div class="position-absolute top-0 bottom-0 w-100 rounded-2" style="z-index: -1;">
                                <img class="w-100 h-100" src="@User.CoverPicture" alt="@User.Username cover picture" />
                            </div>
                        }
                        <div class="d-flex justify-content-between w-100 p-2 flex-wrap">
                            <Avatar User="@User" />
                            <div>
                                <SubscribeButton IsSubscribed="@IsSubscribed" IsSubscribedLoading="@IsSubscribedLoading" OnSubscribe="@Subscribe" SubscribersCount="@SubscribersCount" />
                            </div>
                        </div>
                    </div>
                    <SubSection Title="Videos" User="@User" IsLoadingMoreMovies="@IsLoadingMoreMovies" IsMoreMovies="@IsMoreMovies" Movies="@Movies" LoadMoreMovies="@LoadMoreMovies" />
                    <SubSection Title="Shorts" User="@User" IsLoadingMoreMovies="@IsLoadingMoreShorts" IsMoreMovies="@IsMoreShorts" Movies="@Shorts" LoadMoreMovies="@LoadMoreShorts" />
                </div>
            </Authorized>
            <NotAuthorized>
                <p>You are not authorized to view this page.</p>
            </NotAuthorized>
        </AuthorizeView>
    }
</section>

@code {
    [Parameter]
    public string? Id { get; set; }
    public string? PreviousId { get; set; }
    User? User { get; set; }
    List<Movie> Movies { get; set; } = new ();
    List<Movie> Shorts { get; set; } = new ();
    bool IsLoading { get; set; } = false;
    bool IsLoadingMoreMovies { get; set; } = false;
    bool IsMoreMovies { get; set; } = true;
    bool IsLoadingMoreShorts { get; set; } = false;
    bool IsMoreShorts { get; set; } = true;
    int MoviePageNumber { get; set; } = 1;  
    int ShortPageNumber { get; set; } = 1;
    int SubscribersCount { get; set; } = 0;
    bool IsSubscribed { get; set; } = false;
    bool IsSubscribedLoading { get; set; } = false;

    async Task Subscribe() {
        if (User == null) return;
        try {
            IsSubscribedLoading = true;
            var subscriptionAction = await SubscriptionService.SubscribeOrUnSubscribe(User);

            if (subscriptionAction.Result == SubscriptionResult.UnSubscribed) {
                SubscribersCount--;
                IsSubscribed = false;
                SubscriptionState.RemoveSubscription(subscriptionAction.Subscribtion);
                ToastService.ShowSuccess("Unsubscribed.");
                return;
            }

            IsSubscribed = true;
            SubscribersCount++;
            SubscriptionState.AddSubscription(subscriptionAction.Subscribtion);
            ToastService.ShowSuccess("Subscribed.");
        } catch (Exception) {
            ToastService.ShowError("Problem with subscribing.");
        } finally {
            IsSubscribedLoading = false;
        }
    }

    async Task LoadMoreMovies() {
        if (User == null) return;
        try {
            IsLoadingMoreMovies = true;
            var moreMovies = await MovieService.GetMoviesByUserId(User.Id.ToString(), MoviePageNumber);
            MoviePageNumber = MoviePageNumber + 1;

            if (moreMovies.Count > 0) {
                Movies.AddRange(moreMovies);
                StateHasChanged();
                return;
            }

            IsMoreMovies = false;
        } catch (Exception) {
            ToastService.ShowError("Problem with fetching movies.");
        } finally {
            IsLoadingMoreMovies = false;
        }
    }

    async Task LoadMoreShorts() {
        if (User == null) return;
        try {
            IsLoadingMoreShorts = true;
            var moreShorts = await MovieService.GetShortsByUserId(User.Id.ToString(), ShortPageNumber);
            ShortPageNumber++;

            if (moreShorts.Count > 0) {
                Shorts.AddRange(moreShorts);
                StateHasChanged();
                return;
            }

            IsMoreShorts = false;
        } catch (Exception) {
            ToastService.ShowError("Problem with fetching shorts.");
        } finally {
            IsLoadingMoreShorts = false;
        }
    }

    async Task LoadSubscribersCount() {
        if (User == null) return;
        try {
            IsSubscribedLoading = true;
            SubscribersCount = await SubscriptionService.GetSubscriptionCount(User.Id);
            IsSubscribed = await SubscriptionService.IsSubscribing(User.Id);
        } catch (Exception) {
            ToastService.ShowError("Problem with fetching subscribers count.");
        }
        finally {
            IsSubscribedLoading = false;}
    }

    async Task LoadUser() {
        if (MongoDB.Bson.ObjectId.TryParse(Id, out MongoDB.Bson.ObjectId objId)) {
            User = await UserService.GetUser(objId);
        }
    }

    async Task LoadData() {
        if (User != null) {
            await LoadSubscribersCount();
            await LoadMoreMovies();
            await LoadMoreShorts();
        }
    }

    async Task LoadAll() {
        try {
            IsLoading = true;
            await LoadUser();
            await LoadData();
        } catch (Exception) {
            ToastService.ShowError("Problem with fetching user.");
        } finally {
            IsLoading = false;
        }
    }

    void Reset() {
        Movies.Clear();
        Shorts.Clear();
        IsMoreMovies = true;
        IsMoreShorts = true;
        MoviePageNumber = 1;
        ShortPageNumber = 1;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != PreviousId) {
            PreviousId = Id;
            Reset();

            await LoadAll();
        }
    }
}