@using System.Linq.Expressions

@inherits InputTextArea

<div class="form-control-wrapper">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-label" for="@_id">@Label</label>
    }
    <textarea id="@_id" @bind="@CurrentValue" @attributes="@AdditionalAttributes" class="@BaseClass" />

    @if (ValidationFor != null)
    {
        <div class="mt-1">
            <ValidationMessage For="@ValidationFor" />
        </div>
    }
</div>

@code {
    string _id = Guid.NewGuid().ToString("N");
    [Parameter] public Expression<Func<string>> ValidationFor { get; set; } = default!;
    [Parameter] public string? Label { get; set; }
    private string BaseClass => "form-control mt-2";
    protected override bool TryParseValueFromString(string? value, out string result, out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }
}